<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="icon" href="/img/weatherfavicon.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
     <div class="main-content">
        {{>header}}
        <img class="portrait" src="./img/image.jpg" alt="">
        <p>This site was created by Pedro Medina, it uses data from Mapbox and DarkSky.net</p>
    </div>
    
    {{>footer}}
</body>
</html>