body{
    display: flex;
    flex-direction: column;
    color: #333;
    font-family: Arial, Helvetica, sans-serif;
    max-width: 650px;
    margin: 0 auto;
    padding: 0 1em;
    height: 100vh;
}

.main-content{
    flex-grow: 1;
}

footer {
    color: #888;
    border-top: 1px solid #eee;
    margin-top: 1em;
    padding: 1em 0;
}

header {
    margin-bottom: 3em;
    margin-top: 1em;
}

h1 {
    font-size: 64px;
    margin-bottom: 1em;
}

header a {
    color: #888;
    margin-right: 1em;
    text-decoration: none;
}

.portrait {
    width: 250px;
}

input{
    border: 1px solid #ccc;
    padding: .5em;
}

button {
    cursor: pointer;
    border: 1px solid #888;
    background: #888;
    padding: .5em;
}